html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

[type=text],
[type=text]:focus {
  border-width: 1px 0 1px 0;
}

.off-canvas-wrapper,
.off-canvas-content,
.off-canvas,
#map {
  height: 100%;
}

#map {
  padding: 20px;
}

.fa-stack {
  margin-right: 5px;
}

.text-red {
  color: #da4941;
}

#background-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  background-color: #eaeaea;
  background-image: url('../img/staticmap.png');
  transition: background 0.5s linear;


  height: 100%;
  width: 100%;

  position: absolute;

  float: left;
}

.off-canvas {
  background-color: transparent;
}

.item-list {
  list-style-type: none;
  margin: 0;

  li {
    padding: 10px;

    &.selected {
      background-color: rgba(0,0,0,0.4);
      color: #fff;
      font-weight: bold;
    }

    .item-icon {
      margin-right: 10px;
      width: 32px;
    }

    .item-details {
      text-align: center;
    }

    .item-picture {
      max-width: 400px;
      width:100%;
    }
  }
}

#place-details {
  max-width: 450px;
  min-width: 200px;

  h1 {
    font-size: 1.25rem;
  }

  #place-name {
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
  }

  #place-category {
    float: right;
  }

  #place-thumbnails {
    img {
      padding: 0 5px 5px 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .position-left {
    width: 280px;
  }

  .position-left.is-open ~ .off-canvas-content {
      transform: translateX(280px);
  }

  #map {
    height: 95%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .position-left.reveal-for-medium {
    width: 320px;
  }

  .position-left.reveal-for-medium ~ .off-canvas-content {
    margin-left: 320px;
  }
}
